@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*main colors variables*/
  --primary-color: #640097;
  --secondary-color: #ff9574;
  --primary-color-light: #8600ca;
  --third-color: #005b61;
  --third-color-dark: #002b2e;
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.arvo-regular {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-style: italic;
}
